<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="МБОУ СОШ №11, Краевеческий музей, Краевеческий музей МБОУ СОШ №11">
		<meta name="keywords" content="МБОУ СОШ №11, Краевеческий музей, Краевеческий музей МБОУ СОШ №11">
		<link rel="shortcut icon" href="https://img.icons8.com/cotton/64/000000/museum.png">
		<title>Краевеческий музей МБОУ СОШ №11</title>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
		<link rel="stylesheet" href="/static/css/style.css">
		<!-- Yandex.Metrika counter -->
		<script type="text/javascript" >
		   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
		   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
		   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
		   ym(76064281, "init", {
		        clickmap:true,
		        trackLinks:true,
		        accurateTrackBounce:true,
		        webvisor:true
		   });
		</script>
		<noscript><div><img src="https://mc.yandex.ru/watch/76064281" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
		<!-- /Yandex.Metrika counter -->
	</head>
	<body>
		<div class="wrapper">
			<!--Шапка-->
			<div class="header">
				<div class="headerContent">
					<div class="logo">
						<!-- <a href="/home"><img src="/img/logo.png"></a> -->
						<a href="/" class="navbar-brand">
							<h1 style="margin-top: 2%; color: white;">Краеведческий музей имени П. М. Петренко</h1>
						</a>
					</div>
					<!--<form class="search"></form>-->
				</div>
			</div>
			<!--Слайдер-->
			<div class="slider">
				<div id="carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
					<div class="carousel-inner">
						<div class="carousel-item active" data-bs-interval="4000">
							<img src="/static/img/slider-img4.jpg" alt="">
							<div class="carousel-caption">
								<h4>Фретка, фуро или домашний хорёк</h4>
								<p>Животное чёрного, белого, коричневого или смешанного цвета. Длина тела составляет около 50 см, из них хвост — 10—15 см, вес достигает 2 кг.</p>
							</div>
						</div>
						<div class="carousel-item" data-bs-interval="4000">
							<img src="/static/img/slider-img5.jpg" alt="">
							<div class="carousel-caption">
								<h4>Северный олень</h4>
								<p>Оленевые, или оленьи, или олени, — семейство парнокопытных млекопитающих, содержащее 51 современный вид. Оленевые распространены в Евразии, Северной и Южной Америке.</p>
							</div>
						</div>
						<div class="carousel-item" data-bs-interval="4000">
							<img src="/static/img/slider-img6.jpg" alt="">
							<div class="carousel-caption">
								<h4>Ястреб-тетеревятник</h4>
								<p>Ястребообразные — отряд хищных птиц из подкласса новонёбных, объединяющий ястребов, коршунов, орлов и других птиц. В составе отряда учёные выделяют 4 семейства: ястребиных, скопиных, птиц-секретарей и американских грифов.</p>
							</div>
						</div>
						<div class="carousel-item" data-bs-interval="4000">
							<img src="/static/img/slider-img7.jpg" alt="">
							<div class="carousel-caption">
								<h4>Заяц-беляк</h4>
								<p>Длина тела взрослых животных от 44 до 65 см, изредка достигая 74 см; масса тела 1,6—4,5 кг. Средние размеры уменьшаются с северо-запада на юго-восток. Самые крупные беляки обитают в тундре Западной Сибири (до 5,5 кг), самые мелкие в Якутии и на Дальнем Востоке (3 кг).</p>
							</div>
						</div>
						<div class="carousel-item" data-bs-interval="4000">
							<img src="/static/img/slider-img8.jpg" alt="">
							<div class="carousel-caption">
								<h4>Гороный козёл</h4>
								<p>Все козлы — типично горные животные, населяющие труднодоступные скалистые места, крутые склоны обрывов, ущелий и избегающие обширных открытых и ровных пространств. Распространены по вертикали до высоты 5,5 тыс. м над уровнем моря и более. Прекрасно приспособлены к жизни в горах, с исключительной быстротой и ловкостью передвигаются по самым неприступным кручам.</p>
							</div>
						</div>
						<div class="carousel-item" data-bs-interval="4000">
							<img src="/static/img/slider-img9.jpg" alt="">
							<div class="carousel-caption">
								<h4>Росомаха</h4>
								<p>Росомаха — хищное млекопитающее семейства куньих. По размерам в семействе куньих уступает только калану. Вес варьируется в диапазоне от 11 до 19 кг. Длина 70—86 см, длина хвоста 18—23 см. Внешне росомаха напоминает медведя или барсука.</p>
							</div>
						</div>
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>
			<!--Контент-->
			<div class="content">
				<ul class="nav">
					<li>
						<a href="#" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">МУЗЕЙ</a>
						<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
							<li><a href="/" class="dropdown-item">Новости</a></li>
							<li><a href="/history" class="dropdown-item">История</a></li>
							<li><a href="/biography_of_petrenko" class="dropdown-item">Биография П.М. Петренко</a></li>
							<li><a href="/certificates" class="dropdown-item">Награды</a></li>
						</ul>
					</li>
					<li>
						<a href="#" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">ОТДЕЛЫ</a>
						<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton3">
							<li><a href="/biological_department" class="dropdown-item">Фотогалерея экспозиции</a></li>
							<li><a href="/birds_of_kuzbass" class="dropdown-item">Птицы Кузбасса</a></li>
						</ul>
					</li>
					<li>
						<a href="#" id="dropdownMenuButton7" data-bs-toggle="dropdown" aria-expanded="false">ЭКСКУРСИИ</a>
						<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton3">
							<li><a href="https://yadi.sk/d/Aqb5rn7QKBlOKQ?w=1">Экскурсии онлайн</a></li>
						</ul>
					</li>
					<li>
						<a href="#" id="dropdownMenuButton4" data-bs-toggle="dropdown" aria-expanded="false">ПОСЕТИТЕЛЯМ</a>
						<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton4">
							<li><a href="/work_info">Адреса и часы работы</a></li>
						</ul>
					</li>
				</ul>
				<!--Основная часть-->
				<main role="main" class="container">
					{% block content %}{% endblock %}
					<div class="accordion accordion-flush" id="accordionFlushExample">
  						<div class="accordion-item">
  						 	<h2 class="accordion-header" id="flush-headingOne">
  						 	 	<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
									<p style="text-align: center;">Задать вопрос</p>
  						 	 	</button>
  						 	</h2>
						</div>
						<div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
    					 	<div class="accordion-body"><p> Задать любой вопрос, касающийся работы сайта(email): zil10@inbox.ru</p></div>
    					</div>
					</div>
				</main>
			</div>
			<!--Подвал-->
			<div class="footer">
				<p> Официальный сайт и источник информации: <a href="http://kemschool11.ru/index.php/component/content/article/88-shkola/160">http://kemschool11.ru/index.php/component/content/article/88-shkola/160</a></p>
			</div>
		</div>
	</body>
</html>
