{% extends "base.html" %}

{% block content %}
<!--Основная часть-->
<div class="main">
	<h1 style="text-align: center;">Биологический отдел</h1>
    <div class="container">
		<div class="row">
			<div class="col">
				<div class="list-group" style="margin-left: 5%;">
					{% set ns = namespace(foo=0) %}
					<div>
						{% for item in data %}
							{% if ns.foo % 2 == 0 %}
								<br><br>
							{% endif %}
						{% set ns.foo = ns.foo + 1 %}
						<a href="{{ item['img'] }}"><img src="{{ item['img'] }}" style="border-radius: 10px;border: 2px; width: 100%; max-width: 402px; height: auto;" alt="картинка не нашлась"></a>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
