{% extends "base.html" %}

{% block content %}
<!--Основная часть-->
<div class="main">
	<h1 style="text-align: center;">Биологический календарь</h1>
    <p><strong>ЯНВАРЬ</strong></p>
	<p>1 января - Всемирный День мира</p>
    <p>11 января - День заповедников и национальных парков</p>
    <p><strong>ФЕВРАЛЬ</strong></p>
    <p>&nbsp;2 февраля - Всемирный День водно-болотных угодий</p>
    <p>11 февраля - Всемирный День гуманного образования</p>
    <p>19 февраля - Всемирный День китов и морских млекопитающих</p>
    <p>25 февраля - День Рождения Ассоциации заповедников и национальных парков Северо - Запада России</p>
    <p>&nbsp;<strong>МАРТ</strong></p>
    <p>14 марта - День действий против плотин. День действий в защиту Рек, Воды и Жизни.</p>
    <p>15 марта - Всемирный День действий против охоты на бельков</p>
    <p>21 марта - Весеннее Равноденствие</p>
    <p>22 марта - Всемирный День Воды (Водных ресурсов). Международный день Балтийского моря</p>
    <p>23 марта - Всемирный День Климата (Метеорологический День)</p>
    <p><strong>АПРЕЛЬ</strong></p>
    <p>1 апреля - Международный День птиц</p>
    <p>4 апреля - Всемирный День крыс</p>
    <p>7 апреля - Всемирный День охраны здоровья</p>
    <p>15 апреля - День экологических знаний</p>
    <p>с 15 апреля по 5 июня - Общероссийские Дни защиты от экологической опасности</p>
    <p>18-22 апреля - Марш Парков</p>
    <p>19 апреля - День подснежника</p>
    <p>19-26 апреля - Весенняя Неделя Добра</p>
    <p>22 апреля - Всемирный День Земли</p>
    <p>24 апреля - Всемирный День защиты лабораторных животных</p>
    <p>Четвертая суббота апреля - День Биолога</p>
    <p><strong>МАЙ</strong></p>
    <p>1 мая - Международный праздник "Майский День"</p>
    <p>3 мая - День солнца</p>
    <p>12 мая - День экологического образования</p>
    <p>15 мая -15 июня - Единые Дни защиты малых рек и водоемов</p>
    <p>20 мая 1980 - Подписана Конвенция об охране морских живых ресурсов Антарктики (Канберра)</p>
    <p>22 мая - Международный День биологического разнообразия (с 2000 г.)</p>
    <p>24 мая - Европейский День парков</p>
    <p>25 мая - День нерпенка</p>
    <p><strong>ИЮНЬ</strong></p>
    <p>1 июня - Всемирный День защиты детей</p>
    <p>5 июня - Всемирный День охраны окружающей среды. День эколога в России</p>
    <p>8 июня - Всемирный День Океанов</p>
    <p>15 июня - День создания юннатского движения</p>
    <p>17 июня - Всемирный День по борьбе с опустыниванием и засухой</p>
    <p>22 июня - Летнее солнцестояние</p>
    <p>23 июня 1999 - День основания Российского музея леса</p>
    <p><strong>ИЮЛЬ</strong></p>
    <p>4 июля - Международный День дельфинов - пленников</p>
    <p>11 июля - День действий против рыбной ловли</p>
    <p><strong>АВГУСТ</strong></p>
    <p>2 августа - День оленя</p>
    <p>9 августа - Всемирный День коренных народов</p>
    <p>Четвёртое воскресенье августа - День Байкала</p>
    <p>16 августа - Международный День бездомных животных</p>
    <p><strong>СЕНТЯБРЬ</strong></p>
    <p>8 сентября - День журавля</p>
    <p>11 сентября 1961 - День образования Всемирного фонда дикой природы (WWF)</p>
    <p>15 сентября - День рождения Гринпис</p>
    <p>16 сентября - Международный День охраны озонового слоя</p>
    <p>15 сентября -15 октября - Месячник охраны природы</p>
    <p>21 сентября - Международный День мира</p>
    <p>3-е воскресенье сентября - День работников леса</p>
    <p>21 сентября - Международная Ночь летучих мышей</p>
    <p>20 сентября - Международный День риса;</p>
    <p>21 - 27 сентября - Неделя Всемирной Акции &laquo;Мы чистим мир&raquo; (Очистим планету от мусора)</p>
    <p>23 сентября - Осеннее Равноденствие</p>
    <p>27 сентября - Международный День кроликов</p>
    <p>Четвертое воскресенье сентября - День Амурского тигра и леопарда</p>
    <p>Последняя неделя сентября - Всемирный День Моря</p>
    <p><strong>ОКТЯБРЬ</strong></p>
    <p>1 октября - Всемирный вегетарианский День</p>
    <p>2 октября - Всемирный День сельскохозяйственных животных</p>
    <p>3-10 октября - Неделя в защиту животных</p>
    <p>4 октября - Всемирный День защиты животных</p>
    <p>5-6 октября - Всемирные Дни наблюдения птиц</p>
    <p>5 октября - День образования Международного (Всемирного) союза охраны природы</p>
    <p>6 октября - Всемирный День охраны мест обитаний</p>
    <p>10-16 октября - Всемирная Неделя дождевых лесов</p>
    <p>Вторая среда октября - Международный День по уменьшению опасности стихийных бедствий</p>
    <p>14 октября - День работников заповедников</p>
    <p>Последняя неделя октября - Дни Волги</p>
    <p>31 октября - Международный День Черного моря</p>
    <p><strong>НОЯБРЬ</strong></p>
    <p>1 ноября - День образования Российского экологического союза</p>
    <p>15 ноября - День вторичной переработки</p>
    <p>20 ноября - Всемирный День ребенка</p>
    <p>24 ноября - День образования Всероссийского общества охраны природы</p>
    <p>29 ноября - День образования Всемирного общества охраны природы</p>
    <p>30 ноября - Всемирный День домашних животных</p>
    <p><strong>ДЕКАБРЬ</strong></p>
    <p>3 декабря - Международный День борьбы с пестицидами</p>
    <p>5 декабря - Международный День добровольца</p>
    <p>5 декабря 1996 г. - Байкал включен в список всемирного наследия ЮНЕСКО</p>
    <p>10 декабря - Международный День акций за принятие Декларации прав животных</p>
    <p>11 декабря - Всемирный День гор</p>
    <p>22 декабря - Зимнее солнцестояние</p>
    <p>24 декабря 1988 года был создан Международный Социально-экологический союз (МСоЭС)</p>
    <p>29 декабря - Международный День биологического разнообразия (до 2000 г.)</p>
	<blockquote title="blockquote">Источник: http://www.vulcanikamchatki.ru/deyatelnost/ekologicheskoe_prosvewenie/kalendar_ekologicheskih_dat/</blockquote>
</div>
{% endblock %}
