{% extends "base.html" %}

{% block content %}
<!--Основная часть-->
<div class="main">
	<h1 style="text-align: center;">История нашего музея</h1>
	<p>
		Работа по созданию музея началась в 1972 году. Учитель биологии Петренко Павел Моисеевич с учениками старших классов создал  уникальный комплекс: кабинет биологии, живой уголок и биологический музей.
        <br>15 ноября 1976 года на педагогическом совете школы было принято решение организовать в школе биологический музей «Флоры и фауны Кузбасса», руководителем был назначен Петренко Павел Моисеевич.
        <br>В 1978 году открыт первый зал музея - зоологический. В экспозициях представлены гербарии растений и коллекции насекомых, 330 чучел млекопитающих и птиц, из них уникальных – 35.
        <br>Начиная с 1982 года, в музее ведется научно-просветительская работа, основной формой которой являются экскурсии. Тематика экскурсий рассчитана на разные категории посетителей: для детей дошкольных учреждений, учащихся младших и средних классов, старшеклассников.
        <br>За обширную научно-просветительскую деятельность Приказом от 1 марта 1983 года  музею присвоено звание «Школьный музей».
        <br>В 1986 году открывается вторая часть первого зала музея. В экспозициях представлены панорамы горной тайги, ландшафты рек и болот. Одновременно фонды музея пополняются чучелами птиц и животных, коллекциями влажных зоопрепаратов.
        <br>В 2001 году к 35-летию школы был открыт музей Истории школы. Он включает в себя материалы об учителях, работавших и работающих сегодня в школе №11, информацию о ветеранах педагогического труда, списки и фотографии выпускников школы.
        <br>В 2002-2003 годах Народный краеведческий музей-комплекс имени П.М. Петренко принимал участие в городском конкурсе «Лучший школьный музей», в котором занял почетное 1 место. Ему присвоено звание «Отличный школьный музей».
        <br>В 2004 году по итогам городского смотра-конкурса школьных музеев краеведческому музею-комплексу присвоено звание «Народный музей».
        <br>Сегодня музей имени Павла Моисеевича Петренко продолжает традиции, заложенными его основателями.
	</p>
    <a href="/school_years">МУЗЕЙ ВЧЕРА (ШКОЛЬНЫЕ ГОДЫ)</a><br><br>
	<blockquote title="blockquote">Создано 30 Январь 2013 Автор: Super User</blockquote>
</div>
{% endblock %}
