{% extends "base.html" %}

{% block content %}
<!--Основная часть-->
<div class="main">
	<h1 style="text-align: center;">Добро пожаловать!</h1>
	<p>
		Вы находитесь на сайте Народного Краеведческого музея-комплекса имени заслуженного учителя РФ П.М. Петренко.
		Здесь вы можете найти интересующую Вас информацию о работе музея, об истории его создания, посмотреть новости,
		фотографии и экспозиции, познакомиться с экскурсионными услугами и мероприятиями музея, а также, задать интересующие вопросы.
	</p>
	<blockquote title="blockquote">Эта группа посвящена Краеведческому музею имени заслуженного учителя РФ П. М. Петренко, г. Кемерово, МБОУ "СОШ №11".</blockquote>
	<a href="https://yadi.sk/i/MkHxmwC-bY9QjQ">Положение о музее-комплексе им. П.М. Петренко</a><br>
	<a href="https://yadi.sk/d/Aqb5rn7QKBlOKQ?w=1">Видео экскурсии</a><br><br>

	<div id="col1" style="width: 75%; float: left;">
		<!--Новости-->
		<h1 style="text-align: center;">Новости музея:</h1>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="list-group">
						{% for item in data %}
						<div class="list-group-item list-group-item-action">
							<p style="font-size: 24px;">{{ item['title'] }}</p>

							{% if item['type'] == 'mp4' %}
							<iframe src="{{ item['img'] }}" style="width: 100%; min-height: 350px;border-radius: 10px;display: block;margin-left: auto;margin-right: auto; border: 2px;" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							{% else %}
							<img src="{{ item['img'] }}" style="border-radius: 10px;border: 2px; width: 100%; height: auto;border-radius: 10px;display: block;margin-left: auto;margin-right: auto; border: 2px;" alt="картинка не нашлась">
							{% endif %}

							<p>{{ item['text'] }}</p>

							{% if item['scr'] %}
							<a type="button" class="btn btn-success btn-lg" href="{{ item['scr'] }}" style="width: 100%;">{{ item['scr_text'] }}</a>
							{% endif %}<br>

						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="col2" style="width: 25%; float: right;">
		<iframe src="https://calendar.google.com/calendar/embed?src=zil10%40inbox.ru&ctz=Asia%2FNovokuznetsk" style="border: 0" width=100% height='300px' frameborder="0" scrolling="no"></iframe><br><br>
		<img alt="300_let_Kuzbass.jpg" src="/static/img/300year.jpg" width="100%" title="300_let_Kuzbass.jpg" style="border: 1px solid #e2e2e2;"><br><br>
		<iframe style="border-style: none;width:100%" src="http://xn--300-5cde9au3dap.xn--p1ai/timer/index.php">
			<script src="https://xn--300-5cde9au3dap.xn--p1ai/timer/timer-code.js"></script>
    	</iframe><br><br>
		<div style="background: lightgreen;">
			<h3>Викторина-тест по птицам Кузбасса</h3>
			<a href="https://forms.gle/ZNYN7c31GiS6mJFJ6">
				<img alt="300_let_Kuzbass.jpg" src="https://sun9-51.userapi.com/impg/DhKZkQM8erK8vAxGd2FN__qfI_SAsajXPiqKNg/b8E4naNIDBo.jpg?size=500x375&quality=96&sign=c319c592141a77c1463d40fe0d337eb9&type=album" width="100%" title="300_let_Kuzbass.jpg" style="border: 1px solid #e2e2e2; border-radius: 30px;">
			</a>
			<p><h9>Нажмите на картинку выше, чтобы пройти викторину</h9></p>
		</div>
	</div>

</div>
{% endblock %}
