{% extends "base.html" %}

{% block content %}
<!--Основная часть-->
<div class="main">
	<h1 style="text-align: center;">Шорский государственный природный национальный парк в Кемеровской области</h1>
	<img src="https://sun9-61.userapi.com/impg/c_7w6PNA7D9zm30pvtaxP0vLS_IcsSK7-tfFNg/P9KCzkureMg.jpg?size=768x576&quality=96&sign=341fe32e543453768a1738b21ba7e76b&type=album" style="border-radius: 10px;border: 2px; width: 100%; max-width: 800px; height: auto;border-radius: 30px;display: block;margin-left: auto;margin-right: auto; border: 2px;" alt="картинка не нашлась">
	<p>
		Шорский национальный парк – особо охраняемая природная территория Федерального значения. Национальный парк был образован 27 декабря 1989 года Постановлением Совета Министров РСФСР №386 «О создании Шорского государственного природного национального парка в Кемеровской области» с целью сохранения и восстановления уникальных природных комплексов и объектов Горной Шории.
        Общая площадь территории национального парка составляет 414 306  гектар. Парк расположен на юге Кемеровской области и занимает третью часть Таштагольского района. Горные хребты Абаканский и Бийская грива  отделяют его территорию от Хакассии и Горного Алтая. Самые высокие отметки на территории национального парка –  горы Кубез (1555 м) и Лысуха (1648 м). Основная водная артерия  – река Мрассу, протяженность которой в границах парка 181 км.
	</p>
	Источник: https://shorskynp.ru/
</div>
{% endblock %}
