{% extends "base.html" %}

{% block content %}
<h1>Экология Кемеровской области</h1>
<hr />
<h2>Красная книга Кемеровской области.<a name="red_book"></a></h2>
<p><img alt="Красная книга Кемеровской области - 2 тома" src="https://sun9-33.userapi.com/impf/gftuqWHBTDZ8DPGwiU97jxxpyoFhZuk0r5OprA/rfvpK3qO6us.jpg?size=200x152&quality=96&sign=ae3a0791ebc91b3ec2917a77e7c17a5d&type=album" width="200" height="152"  class="rt_s"/>Красная книга Кемеровской
области – это официальный
документ, который содержит
сведения о состоянии, численности,
распространении, особенностях
биологии, необходимых мерах
охраны редких и находящихся под
угрозой исчезновения объектов животного и растительного мира.</p>
<p>
Целенаправленное изучение и выявление редких видов животного
и растительного мира Кемеровской области ведется с 1993 года.</p>
<p>
В 2000 году вышло в свет первое издание Красной книги
Кемеровской
области, которое включало в себя 124 вида животных и 157 видов
растений.</p>
<p>
В период с 2000 по 2010 годы на территории области ежегодно
проводились работы по инвентаризации, проведению
зоогеографических,
флористических и геоботанических обследований, по оценке
состояния
видов животных, растений и грибов, занесенных в Красную книгу
Кемеровской области, и другие мероприятия, связанные с ведением
Красной
книги.</p>
<p>
При составлении списка редких и находящихся под угрозой
исчезновения видов животных, растений и грибов, и присвоении им
определенного статуса учитывается уязвимость местообитаний
и устойчивость популяций, наличие и состояние этих видов в
смежных
областях, а так же их практическая значимость и интенсивность
использования.</p>
<p>
Решение о включении, придании статуса редкости или исключении
видов принимает комиссия по охране редких и находящихся под
угрозой
исчезновения животных, растений и грибов, состоящая из
специалистов
ведущих учебных и научных учреждений региона.</p>
<p>
По результатам исследований, проведенных в период с 2001 по
2010 годы, сформирован обновленный список видов животных,
растений
и грибов, занесенных в Красную книгу Кемеровской области.
В него вошли 164 вида растений и 135 видов животных. По
сравнению с первым изданием 2000 года состав
видов, включенных в Красную книгу Кемеровской области, обновился
на
30 %.</p>
<table style="width: 100%" class="lin2">
	<tr>
		<td style="width: 258px" valign="bottom">
		<img alt="лен многолетний (сибирский)" src="https://sun9-5.userapi.com/impf/LeLvElnlWiCTTONl_X2QEcW1Bxr769rarSYdtA/i0pQIXJWH58.jpg?size=170x206&quality=96&sign=26c62eb9ac6d44a08f96029df86002eb&type=album" width="155" height="186" /></td>
		<td style="width: 179px" valign="bottom">
		<img alt="можжевельник обыкновенный" src="https://sun9-48.userapi.com/impf/W7lh1ej-y1wkwL8WOlA_17BVse8Yxzz0TBemgQ/fMRAtGENvrc.jpg?size=170x206&quality=96&sign=e70a5d3d05f6f4f0586a8137dd018fcb&type=album" width="155" height="186" /></td>
		<td valign="bottom">
		<img alt="суслик краснощекий" src="https://sun9-31.userapi.com/impf/uhfD3RfIm3JyBAu6J8W18N6S683GZCB-GfAeJQ/z7NgLuyV4P8.jpg?size=170x197&quality=96&sign=057884a3a7ca0e63da9a3e0cd8daa69f&type=album" width="155" height="179" /></td>
		<td valign="bottom">
		<img alt="мышовка степная" src="https://sun9-75.userapi.com/impf/JRAcGcidO8VESNrdCJ8hgf9XilU-Y_h9gfLmhQ/sIe4ejlATfg.jpg?size=170x186&quality=96&sign=d88012c323833f6a9bc933b907f642b2&type=album" width="155" height="169" /></td>
	</tr>
	<tr>
		<td style="width: 258px"><p class="sign">лен многолетний<br />
		(сибирский)</p>
        </td>
		<td style="width: 179px"><p class="sign">можжевельник <br />
		обыкновенный</p>
		</td>
		<td><p class="sign">суслик<br /> краснощекий</p>
		</td>
		<td><p class="sign">мышовка<br />
		&nbsp;степная</p>
		</td>
	</tr>
</table>
<p>
С этого времени каждый год происходит обновление Красной книги,
более углубленные исследования позволяют снять категорию
&quot;исчезающий&quot; с некоторых видов
и в то же время добавить те виды для которых угроза уничтожения
стала реальной (лен многолетний (сибирский), можжевельник
обыкновенный, суслик краснощекий, мышовка степная и некоторые
другие). &nbsp;</p>
<p>
В Красную книгу Кемеровской области включены виды,
которые встречаются в Кузбассе, занесенные
в </p>
<p>- Красную книгу Российской Федерации, </p>
<p>- список Международного
союза
охраны природы, </p>
<p>- а так же
эндемики –
растения и животные, встречающиеся только в Кемеровской области,
и имеющие ограниченный ареал распространения.</p>
<p>
В Красную книгу Кемеровской области включено 15 эндемичных видов
растений: </p>
<p>
				астрагал саралинский,&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; борец Паско, </p>
<p>
змееголовник Крылова,&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; копеечник
Турчанинова,

</p>
<p>
костенец саянский,&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; кандык сибирский,  </p>
<p>
лапчатка изящнейшая,&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; липа
сибирская,  </p>
<p>
лютик кемеровский,&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; незабудка енисейская,  </p>
<p>
норичник
алтайский,&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; пузырник алтайский,  </p>
<p>
рододендрон  Ледебура (р. даурский), </p>
<p>
				чина
Крылова,&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; хохлатка почти расставленная </p>
<p>
и 4 эндемичных вида животных (голубянка Фальковича,
сибиробитинелла кузнецкая, эйзения салаирская, эйзения Малевича).</p>
<p>
Утверждение обновленного списка редких и находящихся под угрозой
исчезновения видов животных, растений и грибов, послужило
основой для
начала работы над вторым изданием Красной книги Кемеровской
области.</p>
<p>
На протяжении двух лет ведущие специалисты
научно-исследовательских институтов и высших учебных заведений
из городов Кемерово, Новокузнецк, Новосибирск, Томск вели работу
по подготовке 2-х томов Красной книги Кемеровской области (том 1
«Растения и грибы», том 2 «Животные»).</p>
<p>
Красная книга Кемеровской области была
переиздана в декабре 2012 года. </p>
<p>
С целью информирования широкой общественности о необходимости
сохранения редких и исчезающих видов животных, растений и грибов
на территории региона была организована презентация второго
издания Красной книги Кемеровской области. Жители муниципальных
образованиях Кемеровской области познакомились с авторами
обновленного издания Красной книги Кемеровской области, которые
рассказали о флоре и фауне Кузбасса, а также посетили
передвижную выставку.</p>
<p>
Красная книга Кемеровской области, изданная тиражом 1000
экземпляров, была распределена по образовательным учреждениям
Кемеровской области, библиотекам
и краеведческим музеям региона.</p>
<table style="width: 500px" class="main" >
	<tr>
		<td style="height: 363px">
		<a href="http://geofondkem.ru/sources/red_book_1.pdf">
		<img alt="Красная книга Кемеровской области том 1 «Растения и грибы» " src="https://sun9-62.userapi.com/impf/SNMGrJs6QnFsdkLN9bvaXoEI8Y2LxJ9rW-OSEQ/P0FEnmaVmiM.jpg?size=250x354&quality=96&sign=c1557bb4207fec6848ff2a1ce05b9171&type=album" width="250" height="354" /></a></td>
		<td style="height: 363px">
		<a href="http://geofondkem.ru/sources/red_book_2.pdf">
		<img alt="Красная книга Кемеровской области том 2 «Животные» " src="https://sun9-16.userapi.com/impf/oI0oT4fKi7g_zPSKpic69ttj9y6zm-EjmKqE9w/DXwuVxiYHzs.jpg?size=250x354&quality=96&sign=8366656836467242808c084abe5e1dfe&type=album" width="250" height="354" /></a></td>
	</tr>
	<tr>
		<td><p class="style9"><a href="http://geofondkem.ru/sources/red_book_1.pdf">Красная книга Кемеровской области<br />
		том 1 «Растения и
		грибы»</a> (51,6 Мб)</p> </td>
		<td><p class="style9"><a href="http://geofondkem.ru/sources/red_book_2.pdf">Красная книга Кемеровской области<br />
		том 2 «Животные» </a>(26,0 Мб)</p></td>
	</tr>
</table>
<br /></td>
Источник: http://geofondkem.ru/ekology9.htm
<td class="right">
    <hr /></td>
{% endblock %}
