{% extends "base.html" %}

{% block content %}
<!--Основная часть-->
<div class="main">
	<p>
        Сафронова Наталья Яковлевна — руководитель музея<br>
        <img src="https://sun9-53.userapi.com/impg/Y5_mUdNDE4_o3K0Fuqtw_esCiyjWY-ZasYMv_w/bqNohQ6egXk.jpg?size=450x600&quality=96&sign=9eb3e236cbb747339b4026ef742fd376&type=album" style="border: 4px; width: 30%;" alt="картинка не нашлась"><br>
        Место:<br>
        МБОУ "СОШ №11", ул. Леонова, 3а, Кемерово, Кемеровская обл.<br>
		График работы:<br>
        ПН-ПТ 9:00-17:00<br>
	</p>
</div>
{% endblock %}